@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";

.dashboard {
  background: #33262a;
  color: #fff;
  padding: 4rem 15px;

  .title, .subtitle {
    color: #fff;
  }

  .section {
    background: #33262a;
    color: #fff;

    h1, h2, h3, h4, h5, h6 {
      color: #fff;
      font-weight: 400;
    }
  }

  > .dashboard-container {
    border-bottom: 2px solid #5e464d;
    max-width: 100%;
  }

  .notification {
    padding: 1.25rem;
    border-radius: 3px;
  }

  .descriptive-tile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    .content {
      text-align: center;
    }
  }

  .milk-chocolate {
    background: #5e464d;
  }

  .white {
    color: $white;
  }

  .no-left-padding {
    padding-left: 0;
  }

  .no-right-padding {
    padding-right: 0;
  }

  .truffle-border {
    background: #33262a;
    border: 2px solid #3fe0c5;
  }
}

.is-truffle {
  background: #3fe0c5;

  &.has-border {
    background: #33262a;
    border: 2px solid #3fe0c5;
  }
}

.is-ganache {
  background: #e4a663;

  &.has-border {
    background: #33262a;
    border: 2px solid #e4a663;
  }
}

.is-drizzle {
  background: #f069d6;

  &.has-border {
    background: #33262a;
    border: 2px solid #f069d6;
  }
}